<div class="container pt-3">
  <div class="row mb-3">
    <div class="col">
      <span class="patch-title">{{ patch?.name }}</span>
      <button type="button" class="btn btn-primary float-right" (click)="downloadPatch()">Download</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card text-white bg-dark w-100">
        <div class="card-header">
          <strong>Details</strong>
        </div>
        <div class="card-body pb-5">
          <p>
            {{ patch?.description || "No Description..."}}
          </p>
          <hr>
          <div class="mb-3">
            <strong>This Page:</strong>
            <div class="w-100 mt-1 p-2 inset-block">todo</div>
          </div>
          <div>
            <strong>Direct Patch Download:</strong>
            <div class="w-100 mt-1 p-2 inset-block">todo: {{ patch?.permalink }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <app-patch-viewer *ngIf="patch" [patch]="parsed"></app-patch-viewer>
    </div>
  </div>
</div>
