$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// overrides
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// other

$background-color: #17191F !default;
$font-color: #f2f2f2 !default;
